<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>User:</b>
  <%= @document.user %>
</p>

<p>
  <b>Cover image:</b><br>
  <%= image_tag @document.cover_image.thumb('400x200').url if @document.cover_image %>
</p>

<p>
  <b>Public:</b>
  <%= @document.public %>
</p>

<p>
  <b>Document Content:</b>
  <pre>
    Header: <%= @document.header %>
    Main: <%= @document.main %>
    Footer: <%= @document.footer %>
    Primary Color: <%= @document.primary_color %>
    Secondary Color: <%= @document.secondary_color %>
  </pre>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
