<div>
  <a {{action showAllContributors}}>All Contributors</a>
</div>
{{login}} - {{contributions}} contributions to Ember.js

<ul>
  <li><a {{action showDetails}}>Details</a></li>
  <li><a {{action showRepos}}>Repos</a></li>
</ul>

<div>
  {{outlet}}
</div>